<form class="form-row ml-3" method="post" action="/login">

  <label for="username" class="col-form-label">Username</label>
  <div class="col col-auto">
    <input type="text" class="form-control" name="user[username]" id="username" placeholder="Username" value="<%= params[:user][:username] if params.any? %>">
    <%= '<small id="loginerror" class="form-text text-muted">Invalid username or password</small>' if @error %>
  </div>

  <label for="password" class="col-form-label">Password</label>  
  <div class="col col-auto">
    <input type="password" class="form-control" name="user[password]" id="password" placeholder="Password">
  </div>
  
  <div class="col col-auto">
    <input type="submit" class="btn btn-primary" value="Log In">
  </div>

</form>