<form method="post" action="../">
  <label for="name">Name of Game: </label>
  <input type="text" name="game[name]" id="name">

  <label for="post">Create Post: </label>
  <textarea name="post[content]" id="post"></textarea>

  <input type="submit" value="Add Game">
</form>