<!doctype html>
<html>
  <head>
    <title>My Videogame List</title>
  </head>
  <body>
    <header>
      <% if @current_user %>
        <h2> Welcome, <%= @current_user.username %> </h2>
        <form method="post" action="/logout">
          <button type="submit">Log Out</button>
        </form>
      <% else %>
        <form method="get" action="/signup">
          <button type="submit">Sign Up</button>
        </form>
        <form method="get" action="/login">
          <button type="submit">Log In</button>
        </form>
      <% end %>
    </header>
    
    <div class="container">
      <%= yield %>
    </div>

  </body>
</html>
